body {
    background:
        url(coffee-apple.jpg)
        no-repeat
        center
        center
        fixed;
    -webkit-background: cover;
    -moz-background: cover;
    -moz-background: cover;
    background: cover;

}